
#container, #container > table{
    margin:0 auto;
    text-align:center;
}
#container{
    margin-top:100px;
}
#container > h1{
    margin:50px 0px;
}


.btn{
    width:160px;
    height:60px;
    font-size:18px;
    font-weight:bold;
    color:white;
    background-color:black;
    border:none;
    margin:0px 10px;
    cursor:pointer;
}